#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}